<section class="about container">
    <h1 class="text-center mb-5">ABOUT</h1>
    <p>"COPY  AND PASTE , IS A DESIGN ERROR". Any fool can write code that a computer can understand.Good programmers write code that humans can understand. 
    </p>
    <p>"TALK IS CHEAP.SHOW ME THE CODE". First,solve the problem. Then,write the code.     
    </p>
    <p>“ Code is like humor. When you have to explain it, it’s bad”. Sometimes it pays to stay in bed on Monday, rather than spending the rest of the week debugging Monday’s code.</p>
    <p></p>
    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a> 
        <a href="#">Twitter</a>
        <a href="#">Instagram</a>
    </div>
</section>
